@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-orbitron), sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;

  --color-background: #02040a;
  --color-foreground: #ffffff;

  --color-primary: #00f0ff;
  --color-secondary: #0a192f;
  --color-accent: #f0f;

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-scanline: scanline 2s linear infinite;
}

:root {
  --background: #02040a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

/* Scrollbar Hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}